<div class="container">
    <h1 class="mb-5 text-center">Update User</h1>
    <form (submit)="updateHandler()" class="form">
        <div class="form-group">
            <label for="exampleFormControlInput1">Enter Username</label>
            <input [(ngModel)]="updatedUser.userName" type="text" class="form-control" name="username"
                id="exampleFormControlInput1" placeholder="">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput2">Enter Password</label>
            <input [(ngModel)]="updatedUser.password" type="text" class="form-control" name="password"
                id=" exampleFormControlInput2" placeholder="">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Select Role</label>
            <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="updatedUser.role" name="role">
                <option value="admin">Admin</option>
                <option value="sales">Sales</option>
                <option value="purchase">Purchase</option>
            </select>

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>