<h1 class="text-center mb-5">Admin Dashboard</h1>
<div class="text-center cont">
    <a routerLink="adduser" class="btn btn-secondary">Add user</a>
    <a routerLink="allusers" class="btn btn-secondary">Users</a>
</div>
<div class="text-center cont">
    <a routerLink="addproduct" class="btn btn-secondary">Add Product</a>
    <a routerLink="allproducts" class="btn btn-secondary">Products</a>
</div>
<div class="text-center cont">
    <a routerLink="addcustomer" class="btn btn-secondary">Add Customer</a>
    <a routerLink="allcustomers" class="btn btn-secondary">Customers</a>
</div>
<div class="text-center cont">
    <a routerLink="addsupplier" class="btn btn-secondary">Add Supplier</a>
    <a routerLink="allsuppliers" class="btn btn-secondary">Suppliers</a>
</div>
<div class="text-center cont">
    <a routerLink="allsalesorder" class="btn btn-secondary">Sales Orders</a>
    <a routerLink="allpurchaseorder" class="btn btn-secondary">purchase Orders</a>
</div>