<div class="container">
    <h1 class="mb-5 text-center">Add Purchase Orders</h1>
    <form (submit)="submitHandler($event)" class="form">
        <div class="form-group">
            <label for="exampleFormControlInput1">Enter Supplier ID</label>
            <input type="text" [(ngModel)]="purchaseOrder.supplierId" class="form-control" name="CustomerId"
                id="exampleFormControlInput1" placeholder="">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput2">Enter Product ID</label>
            <input type="text" [(ngModel)]="purchaseOrder.productId" class="form-control" name="ProductDescription"
                id=" exampleFormControlInput2" placeholder="">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput3">Enter Purchase Person ID</label>
            <input type="text" [(ngModel)]="purchaseOrder.userId" class="form-control" name="Price"
                id=" exampleFormControlInput3" placeholder="">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput3">Quantity Purchased</label>
            <input type="text" [(ngModel)]="purchaseOrder.quantityPurchased" class="form-control" name="Stocks"
                id=" exampleFormControlInput3" placeholder="">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput3">Total Purchase Amount</label>
            <input type="text" [(ngModel)]="purchaseOrder.totalPurchaseAmount" class="form-control" name="Stocks"
                id=" exampleFormControlInput3" placeholder="">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>