.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    margin-bottom: 80px;
}

#title {
    font-size: 25px;
    font-weight: 500;
}

#greeting {
    font-size: 20px;
    font-weight: 500;
}